.bordered-table {
    border-collapse: collapse;
  }
  
  .bordered-table th,
  .bordered-table td {
    border: 1px solid black;
    padding: 8px;
  }

  .blue-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
  }
  
  .blue-button:hover {
    background-color: darkblue;
  }
  